.heading {
    font-size: 25px;
    padding-left: 120px;
    padding-top: 20px;
    font-weight: 700;
}

.order-details-container {
    padding: 20px;
    font-size: 16px;
    border-radius: 25px;
    height: 550px;
    color: #111111;
    position: absolute;
    margin-top: 80px;
    background: #fff;
    width: 1340px;
    margin-left: 115px;
    border: 1px solid #111111;
    overflow: auto;
}

.order-header {
    width: 33%;
    height: 100px;
    margin-left: 0px;
    text-align: left;
}

.first-line {
    margin-top: 0px;
}

.second-line {
    margin-top: -20px;
}

.third-line {
    margin-top: -15px;
}

.completion-status {
    width: 33%;
    text-align: center;
    height: 120px;
    position: absolute;
    margin: -110px 0 0 425px;
}

.gradient-line {
    width: 150px;
    margin-top: -7px;
    height: 4px;
    background: linear-gradient(to right, #c3b649 45%, #111111 55%);
}

.completion-header {
    width: 33%;
    height: 100px;
    text-align: right;
    position: absolute;
    margin: -100px 0 0 870px;
}

.line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 1100px;
    margin: 30px 90px;
}

.line {
    width: 5px;
    width: 1200px;
    height: 3px;
    background: linear-gradient(to right, #c3b649 45%, #111111 55%);
    position: absolute;
    margin-top: 20px;
}

.circles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 1200px;
}

.circle-func {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #111111;
    position: relative;
}

.hole {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-text {
    margin: 35px -65px;
    text-align: center;
    font-size: 12px;
    width: 150px;
}

.active-circle, 
.completed-circle {
    background-color: #c3b649;
  }

.cust-header {
    width: 35%;
    height: 300px;
    margin-left: 0px;
    text-align: left;
    margin-top: -10px;
}

.cust-header th {
    width: 40%;
}

.cust-header td {
    width: 60%;

}

.tb-header {
    font-size: 18px;
    text-decoration: underline;
}

.details-map {
    margin-top: -250px;
    width: 25%;
    height: 250px;
    border: 0;
    border-radius: 25px;
    position: absolute;
    margin-left: -180px;
}

.ship-header {
    width: 35%;
    height: 300px;
    text-align: left;
    position: absolute;
    margin: -300px 0 0 860px;
}

.ship-header th {
    width: 40%;
    text-align: left;
}

.ship-header td {
    width: 60%;
}

.tb-header2 {
    font-size: 19px;
    text-decoration: underline;
    font-weight: 700;
    text-align: right;
    padding-right: 60px;
}

.fin-header {
    width: 100%;
    height: 270px;
    margin-left: 0px;
    text-align: left;
    margin-top: 20px;
}

.fin-header th {
    width: 20%;
}

.fin-header td {
    width: 30%;
}

.tb-header3 {
    font-size: 19px;
    text-decoration: underline;
    font-weight: 700;
}

.pod-header {
    width: 100%;
    height: 120px;
    margin-left: 0px;
    text-align: left;
    margin-top: 20px;
}

.pod-header th {
    width: 20%;
}

.pod-header td {
    width: 30%;
}

.documents {
    margin-left: 3%;
    margin-top: -19px;
    font-size: 12px;
    color: #c3b649;
    text-decoration: underline;
    cursor: pointer;
}

.details-form {
    display: flex;
    width: 99%;
    justify-content: center;
    margin: 40px 0 0 0;
    background: #f2eed1;
    height: 120px;
    border-radius: 25px;
    border: 1px solid #111111;
}

.details-dropdown {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: 200px;
    margin: 0 20px;
}

.details-dropdown-header {
    font-size: 16px;
    margin-bottom: 5px;
}

.dt-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
}

.dt-dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
}

.dt-file-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.dt-file-input:hover {
    background: #ffffff;
}

.selected-file {
    margin-top: 10px;
    color: #333;
}

.dt-button {
    background-color: #c3b649;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 50px 0 30px 50px;
}

.dt-button:hover {
    background-color: #fff;
    color: #111111;
}

.order-details-container::-webkit-scrollbar {
    width: 10px;
}

.order-details-container::-webkit-scrollbar-thumb {
    background-color: #c3b649;
    border-radius: 25px;
}

.order-details-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
