.heading {
    font-size: 25px;
    padding-left: 120px;
    padding-top: 20px;
    font-weight: 700;
}

.table-container {
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 25px;
    height: 550px;
    color: #111;
    position: absolute;
    margin-top: 80px;
    background: #fff;
    width: 1320px;
    margin-left: 115px;
    border: 1px solid #111;
}

.tbl-data {
    width: 100%;
    border-collapse: collapse;
}


.tbl-data th,
.tbl-data td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 10%;
}