.heading {
    font-size: 25px;
    padding-left: 120px;
    padding-top: 20px;
    font-weight: 700;
}

.order-details-container {
    padding: 20px;
    font-size: 16px;
    border-radius: 25px;
    height: 550px;
    color: #111;
    position: absolute;
    margin-top: 80px;
    background: #fff;
    width: 1320px;
    margin-left: 115px;
    border: 1px solid #111;
    overflow: hidden;
}

.order-header {
    width: 33%;
    height: 100px;
    margin-left: 0px;
    text-align: left;
}

.first-line {
    margin-top: 0px;
}

.second-line {
    margin-top: -20px;
}

.third-line {
    margin-top: -15px;
}

.completion-status {
    width: 33%;
    text-align: center;
    height: 120px;
    position: absolute;
    margin: -110px 0 0 425px;
}

.gradient-line {
    width: 150px;
    margin-top: -7px;
    height: 4px;
    background: linear-gradient(to right, #ef5350 45%, black 55%);
}

.completion-header {
    width: 33%;
    height: 100px;
    text-align: right;
    position: absolute;
    margin: -100px 0 0 870px;
}

.line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 1100px;
    margin: 30px 90px;
}

.line {
    width: 5px;
    width: 1200px;
    height: 3px;
    background: linear-gradient(to right, #ef5350 45%, black 55%);
    position: absolute;
    margin-top: 20px;
}

.circles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 1200px;
}

.circle-func {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ef5350;
    position: relative;
}

.hole {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-text {
    margin: 35px -35px;
    text-align: center;
    font-size: 12px;
    width: 100px;
}

.cust-header {
    width: 35%;
    height: 300px;
    margin-left: 0px;
    text-align: left;
    margin-top: 40px;
}

.cust-header th {
    width: 40%;
}

.cust-header td {
    width: 60%;

}

.tb-header {
    font-size: 18px;
    text-decoration: underline;
}

.details-map {
    margin-top: -270px;
    width: 25%;
    height: 250px;
    border: 0;
    border-radius: 25px;
    position: absolute;
    margin-left: -180px;
}

.ship-header {
    width: 35%;
    height: 300px;
    text-align: right;
    position: absolute;
    margin: -300px 0 0 840px;
}

.ship-header th {
    width: 40%;
}

.ship-header td {
    width: 60%;
    text-align: center;
}

.tb-header2 {
    font-size: 18px;
    text-decoration: underline;
    width: 60%;
}