.heading {
    font-size: 25px;
    padding-left: 120px;
    padding-top: 20px;
    font-weight: 700;
}

.form-container {
    background-color: #f5f5f5;
    border-radius: 25px;
    border: 1px solid #a5a5a5;
    padding: 20px;
    position: absolute;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 1320px;
    margin: 70px 0 0 115px;
    height: 130px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 5px;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.input-header {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: -5px;
}

.form-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
    width: 84%;
    margin-right: 5px;
}

.form-input[type="date"] {
    cursor: text;
    width: 82%;
    margin: 0 1px;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    margin: -20px 0 0 0;
    width: 200px;
}

.dropdown-header {
    font-size: 16px;
    margin-bottom: 5px;
}

.dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;
}

.form-button {
    background-color: #c3b649;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 150px 0 0 580px;
    position: absolute;
}

.form-button:hover {
    background-color: #f2eed1;
}

.table-view-container {
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 25px;
    height: 340px;
    color: #111111;
    position: absolute;
    margin-top: 280px;
    background: #fff;
    width: 1320px;
    margin-left: 115px;
    border: 1px solid #111111;
    overflow: auto;
}

.table-data {
    width: 100%;
    border-collapse: collapse;
}

.table-data th,
.table-data td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

.view-btn {
    padding: 5px;
    cursor: pointer;
    border: none;
    background-color: #c3b649;
    color: #fff;
    border-radius: 25px;
    padding: 10px;
    margin-left: 10px;
    width: 80px;
}

.view-btn:hover {
    background-color: #f2eed1;
}

.table-view-container::-webkit-scrollbar {
    width: 10px;
}

.table-view-container::-webkit-scrollbar-thumb {
    background-color: #c3b649;
    border-radius: 25px;
}

.table-view-container:-webkit-scrollbar-thumb:hover {
    background-color: #555;
}