.heading {
    font-size: 25px;
    padding-left: 120px;
    padding-top: 20px;
    font-weight: 700;
}

.user {
    padding-left: 70%;
    padding-top: 15px;
}

.user img {
    width: 30px;
    border-radius: 10px;
}

.username {
    padding-left: 15px;
    padding-top: 8px;
    float: right;
    font-weight: 500;
}

.tracking-container {
    position: fixed;
    top: 60px;
    left: 100px;
    width: 92%;
    height: 87%;
    background-color: #ffffff;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-radius: 50px;
}
