.heading {
    font-size: 25px;
    padding-left: 120px;
    padding-top: 20px;
    font-weight: 700;
}

.user {
    padding-left: 70%;
    padding-top: 15px;
}

.user img {
    width: 30px;
    border-radius: 10px;
}

.username {
    padding-left: 15px;
    padding-top: 8px;
    float: right;
    font-weight: 500;
}